build --workspace_status_command="echo STABLE_GIT_SHA $(git rev-parse HEAD)"
run --workspace_status_command="echo STABLE_GIT_SHA $(git rev-parse HEAD)"

run --incompatible_enable_cc_toolchain_resolution
run --@io_bazel_rules_docker//transitions:enable=false
build --incompatible_enable_cc_toolchain_resolution
build --@io_bazel_rules_docker//transitions:enable=false

run:arm64 --platforms=@zig_sdk//platform:linux_arm64
run:arm64 --extra_toolchains=@zig_sdk//toolchain:linux_arm64_gnu.2.28
run:aarch64 --platforms=@zig_sdk//platform:linux_arm64
run:aarch64 --extra_toolchains=@zig_sdk//toolchain:linux_arm64_gnu.2.28

run:amd64 --platforms=@zig_sdk//platform:linux_amd64
run:amd64 --extra_toolchains=@zig_sdk//toolchain:linux_amd64_gnu.2.28

build:arm64 --platforms=@zig_sdk//platform:linux_arm64
build:arm64 --extra_toolchains=@zig_sdk//toolchain:linux_arm64_gnu.2.28
build:aarch64 --platforms=@zig_sdk//platform:linux_arm64
build:aarch64 --extra_toolchains=@zig_sdk//toolchain:linux_arm64_gnu.2.28

build:amd64 --platforms=@zig_sdk//platform:linux_amd64
build:amd64 --extra_toolchains=@zig_sdk//toolchain:linux_amd64_gnu.2.28
